body {
    background-color: black;
    text-align: center;
}

.top_header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    size: 50px;
    color: white;
    text-align: center;
}

.secondary_header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    size: 42px;
}

.link {
    color: aquamarine;
    size: 16px;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 21px;
    color: gray;
}